<template name="admin">
	<form method="POST" enctype="multipart/form-data">
		<div class="row">
			<div class="columns">
				{{#if currentUser}}
				<label for="picture">Picture</label>

				<input type="file" class="jqUploadclass" data-form-data='{{ submitData }}'>
		        {{#with infoLabel}}
		            {{ infoLabel}} <button class="start">StartUpload</button>
		            <div style="width: 200px; height: 30px; border: 1px solid black">
		                <div style="background: red; height: 30px; width: {{ progress }}">
		                    {{ progress }}
		                </div>
		            </div>
		        {{/with}}

				<div id="images">
				<img src="" id="uploadedimage"/>
				<span id="delete">Delete</span>

				</div>

				<label for="content">Message</label>
				<textarea class="u-full-width" placeholder="Hi Dave …" id="contentInput" name = "content"></textarea>
				<label class="draftBox">
					<input type="checkbox" id="draft">
					<span class="label-body">Draft</span>
				</label>
				<input class="button-primary" type="submit" value="Submit">
				{{else}}
				{{> loginButtons}}
				{{/if}}
			</div>
		</div>
	</form>
</template>