<template name="admin">
	<form>
	<div class="row">
	    <div class="columns">
		  <label for="picture">Picture</label>
			 {{> upload_semanticUI callbacks=finishedUpload}}
		 	<label for="title">Title</label>
		 	<input class="u-full-width" type="text" id="titleInput" name = "title">
		  <label for="content">Message</label>
		  <textarea class="u-full-width" placeholder="Hi Dave …" id="contentInput" name = "content"></textarea>
    	</div>

	  </div>

	  <input class="button-primary" type="submit" value="Submit">
	</form>
</template>