@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400);

body{
		background-color:#f7f8f8;
	}
	a{
		text-decoration : none;
		color: #929292 !important;
	}
	a:hover{
		color: #F64747 !important;
	}
	.siteTitle{
		/**text-align: right;*/
		font-family: 'Amatic SC', cursive;
		letter-spacing: 3px;
		font-size: 3em;
		margin-bottom: 50px;
	}
	.siteTitle hr{
		margin-top: 0px !important;
		margin-bottom: 10px;
	}
	.siteTitle .siteDescription{
		letter-spacing: normal;
		font-size: 13px;
		line-height: 25px;
		font-family: 'Open Sans', sans-serif !important;
		font-style: italic;
	}
	.adminTools{
		font-size: 13px;
		font-family: 'Open Sans';
		color: red;
		float:right;
		letter-spacing: normal;
		text-decoration: underline;
	}
	.adminTools span{
		margin-right: 10px;
		cursor: pointer;
	}
	.content{
		font-size: 13px;
		line-height: 25px;
		font-family: 'Open Sans', sans-serif !important;
	}
	.title{
		font-family: 'Amatic SC', cursive;
		font-size: 2em;
		letter-spacing: 2px;
	}
	.footer{
		text-align:center;
		visibility: hidden;
	}
	.footer div{
		margin-bottom: 10px;
	}
	.gallery img{
		margin-bottom: 25px;
	}
	.currentContent{
		visibility: hidden;
	}
	img{
		border-radius: 10px;
		margin-bottom: 15px;
	}
	.title{
	}
	
	/* Mobile first queries */

	/* Larger than mobile */
	@media (min-width: 400px) {}

	/* Smaller than phablet */
	@media (max-width: 550px) {
	}
	
	/* Larger than tablet */
	@media (min-width: 750px) {
	}

	/* Larger than desktop */
	@media (min-width: 1000px) {}

	/* Larger than Desktop HD */
	@media (min-width: 1200px) {}