@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body{
		background-color:#f7f8f8;
	}
	a{
		text-decoration : none;
		color: #929292 !important;
	}
	a:hover{
		color: #F64747 !important;
	}
	.siteTitle{
		/**text-align: right;*/
		font-family: 'Amatic SC', cursive;
		letter-spacing: 3px;
		font-size: 3em;
		margin-bottom: 50px;
	}
	.siteTitle a:hover{
		text-decoration: none;
	}
	.siteTitle a:focus{
		text-decoration: none;
	}
	.siteTitle hr{
		margin-top: 0px !important;
		margin-bottom: 10px;
	}
	.siteTitle .siteDescription{
		letter-spacing: normal;
		font-size: 13px;
		line-height: 25px;
		font-family: 'Open Sans', sans-serif !important;
		font-style: italic;
	}
	.adminTools{
		font-size: 13px;
		font-family: 'Open Sans';
		color: red;
		float:right;
		letter-spacing: normal;
		text-decoration: underline;
	}
	.adminTools span{
		margin-right: 10px;
		cursor: pointer;
	}
	.postimg img{
		box-shadow: 1px 2px 1px #d1d1d1;
	}
	.content{
		font-size: 23px;
	    line-height: normal;
	    font-family: 'Lato', sans-serif !important;
	    text-align: center;
	    font-weight: 300;
	    position: relative;
	    min-height: 250px;
	}
	.content .quote{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}
	.content .date{
		font-size: 15px;
	}
	.title{
		font-family: 'Amatic SC', cursive;
		font-size: 2em;
		letter-spacing: 2px;
	}
	.footer{
		text-align:center;
	}
	.footer div{
		margin-bottom: 10px;
	}
	.gallery{
		margin-bottom: 4%;
	}
	.currentContent{
		visibility: hidden;
	}
	.gallery img{
		opacity: 0.7;
	}
	.gallery img:hover{
		opacity: 1;
	}
	.title{
	}
	

	/*Insert page*/
	#images {
		display: none;
	}

	#images img{
		width: 150px;
	}

	#images #delete{
		cursor : pointer;
	}

	/* Mobile first queries */

	/* Larger than mobile */
	@media (min-width: 400px) {}

	/* Smaller than phablet */
	@media (max-width: 550px) {
	}
	
	/* Larger than tablet */
	@media (min-width: 750px) {
	}

	/* Larger than desktop */
	@media (min-width: 1000px) {}

	/* Larger than Desktop HD */
	@media (min-width: 1200px) {}