body{
		background-color:#f4f0ee;
		color: #404040;
	}
	a{
		text-decoration : none;
		color: #F64747 !important;
	}
	.footer{
		text-align:center;
	}
	.footer div{
		margin-bottom: 10px;
	}
	img{
		border-radius: 5px;
		margin-bottom: 15px;
	}
	.title{
	}
	
	/* Mobile first queries */

	/* Larger than mobile */
	@media (min-width: 400px) {}

	/* Smaller than phablet */
	@media (max-width: 550px) {
	}
	
	/* Larger than tablet */
	@media (min-width: 750px) {
	}

	/* Larger than desktop */
	@media (min-width: 1000px) {}

	/* Larger than Desktop HD */
	@media (min-width: 1200px) {}