<!-- Content -->
<template name="content">
	<div class="row">
		{{#each newestPost}}
		<div class="four columns">
			<img src = {{imgurl}} width="100%"/>
		</div>
		<div class = "eight columns">
			<div class="row">
				<h5 class="title">{{title}}
					{{#if currentUser}}
					<span class="adminTools">
						<span class="deletePost">Delete</span>
						<span class="editPost">Edit</span>
					</span>
					{{/if}}</h5>
			</div>
			<div class = "row content">
				{{content}}
			</div>
		</div>
		{{/each}}
	</div>
</template>