<template name="customUpload">
    <form method="POST" enctype="multipart/form-data">
        <label for="exampleMessage">Picture</label>
        <input type="file" class="jqUploadclass" data-form-data='{{ submitData }}'>

        {{#with infoLabel}}
        {{ infoLabel}} <button class="start">StartUpload</button>

        <div style="width: 200px; height: 30px; border: 1px solid black">
            <div style="background: red; height: 30px; width: {{ progress }}">
                {{ progress }}
            </div>
        </div>

        {{/with}}
        
        <label for="exampleMessage">Message</label>
        <textarea class="u-full-width" placeholder="Hi Dave …" id="exampleMessage" name = "content"></textarea>
        <input class="button-primary" type="submit" value="Submit">
    </form>
</template>